
.menu {
   width: 450px;



   padding: 10px;

}

.menu img{
   justify-content: center;
   align-items: center;

}

.menu-container{
   display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
}

img{
   width: 200px;
   height: 200px;
}